.dialogs_wrapper{
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.dialogs{
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid rgba(0,0,0, 0.3);
}

.dialog{
    font-family: "Montserrat";
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    margin-top: 10px;
}

.dialog_name{
    text-align: left;
}

.dialog_ava_block{
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.ava{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: orange;

}

.message{
    padding-left: 5px;
    display: grid;
    grid-template-columns: 50px 5fr;
    grid-template-rows: 1fr 5fr;
    max-height: 50px;
}

.dialog_ava_wrapper{
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
}

.message_name{
    color: #039be5;
    text-align: left;
}

.message .text{
    grid-row-start: 2;
    grid-row-end: 3;
}


.message_answer{
    right: 0;
    display: grid;
    grid-template-columns: 5fr 50px;
    grid-template-rows: 1fr 5fr;
    max-height: 50px;
}

.message_answer .ava{
    background-color: green;
}

.message_answer .dialog_ava_wrapper{
    display: flex;
    grid-column-start:2 ;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
}

.message_answer .message_name{
    text-align: right;
    color: #039be5;
}

.message_answer .text{
    text-align: right;
}

.texting{
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.send_message_button{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.3s ease;
}

.send_message_block textarea{
    margin: 10px 0px;
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 1%;
    outline: none;
}

.send_message_button:hover{
    background-color: rgb(219, 255, 243);
    transition: all 0.3s ease;
}

.send_message_button:focus{
    background-color: rgb(219, 255, 243);
}
