.uib_wrapper{
    margin: auto;
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
}

.ava{
    display: block;
    width: 50px;
    height: 50px;
    background-color:  orange;
    border-radius: 50%;
}

.user_name{
    margin: auto;
}

.logout{
    margin: auto;
}

.logout_btn{
    cursor: pointer;
    transition: all 0.3s ease;
}

.logout_btn:hover{
    color: red;
    transition: all 0.3s ease;
}